@import 'https://fonts.googleapis.com/css?family=Dancing+Script|Abel';
body {
  font-family: 'Abel', sans-serif;
  min-width: 320px;
  color: #827a73;
}

h2 {
  text-align: center;
  font-size: 40px;
}

/* for visitor */
.loading-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  z-index: 1000;
  background: #fbfbfb;
  text-align: center;
}
.loading-overlay img {
  width: 100%;
  max-width: 300px;
}


.visitor {
  font-size: 20px;
  text-align: center;
}

.wrapper {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-radius: 20px; 
}

.pages {
  position: relative;
}

.pages .row {
  margin: 0;
  padding: 10px 0;
}

.pages .accordion-content {
  background: rgba(191, 168, 183,0.2);
  margin: 0 10px;
}

.intro {
  padding: 40px 10%;
  text-align: center;
}

.intro .sub {
  margin-bottom: 15px;
  font-size: 30px;
}
.intro .main {
  margin: 25px 0;
  font-family: 'Dancing Script', cursive;
  font-size: 106px;
}

@media only screen and (max-width: 768px) {
  .intro .main {
    font-size: 72px;    
  }
}

@media only screen and (max-width: 480px) {
  .intro .main {
    font-size: 56px;    
  }
}


.tab-title {
  position: relative;
  display: block;
  cursor: pointer;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: white;
  background: rgba(191, 168, 183,0.8);
  border-radius: 10px;
  margin: 5px 10px 0 10px;
  padding-left: 15px;
  transition: 0.2s all;
  font-weight: normal;
  text-align: center;
}
.tab-title:hover {
  background: rgba(191, 168, 183,1);
  font-weight: bold;
}

.accordion-toggle-checkbox:checked ~ .tab-title {
  border-radius: 10px 10px 0 0;
  transition: 0.5s all;
  background: rgba(191, 168, 183,0.8);  
}

.accordion-toggle-checkbox:checked ~ .accordion-content {
  border-radius: 0 0 10px 10px;
  background: rgba(255, 255, 255,0.8);  
}



.venue .tab-title {
  border-radius: 10px 10px 0 0;
  transition: 0.5s all;
}

.venue h3 {
  text-align: center;
}

.venue .row {
  font-size: 20px;
  background: rgba(255, 255, 255,0.8);  
  border-radius: 0 0 10px;
  margin: 0;
  margin: 0 10px;
}

.venue .invitation-list {
  margin: 20px;
  text-align: center;
}

.venue .invitation-list > div {
  width: 100px;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}

.venue .invitation-list > div img {
  width: 100%;
  border-radius: 10px;
  vertical-align: top;
}

.venue .accordion-content {
  height: 480px;
}

@media only screen and (max-width: 1000px) {
  .venue .accordion-content {
    height: 650px;
  }
}

@media only screen and (max-width: 380px) {
  .venue .accordion-content {
    height: 700px;
  }

  .venue .invitation-list > div {
    width: 75px;
  }
}

.rsvp .accordion-content {
  height: 850px;
}

@media only screen and (max-width: 768px) {
  .rsvp .accordion-content {
    height: 1080px;
  }
}


.gallery .accordion-content {
  overflow: auto;
  height: 600px;
}

.gallery .gallery-list {
  margin: 20px;
  text-align: center;
}

.gallery .gallery-list .grid-sizer,
.gallery .gallery-list > div {
  width: 22%;
}

.gallery .gallery-list .gutter-sizer {
  width: 4%;
}

.gallery .gallery-list > div {
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}

.gallery .gallery-list > div img {
  width: 100%;
  border-radius: 10px;
  vertical-align: top;
}

@media only screen and (max-width: 768px) {

  .gallery .accordion-content {
    height: 620px;
  }

  .gallery .gallery-list .grid-sizer,
  .gallery .gallery-list > div {
    width: 48%;
  }

}


/* Misc */

/* Thanks to http://joaopereirawd.github.io/animatedModal.js/ */
.closebt-container {
  position: relative;
  width:100%;
  text-align:center;
  margin:20px 0;
}

.closebt {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor:pointer;
}

.closebt:hover {
  transform:rotate(90deg);
}

.modal-content {
  margin: 10px;
}

img.invitation-card {
  width: 45%;
}