.accordion-toggle-checkbox {
  display: none;
}

.accordion-content {
  position: relative;
  overflow: hidden;
  height: 200px;
  transition: 
    all 0.3s;
}

.accordion-list-style {
  display: inline-block;
  transform: rotate(0deg);
  transition: all 0.5s ease;
}

.accordion-toggle-checkbox:not(:checked) ~ .accordion-content {
  height: 0;
  transition: 
    all 0.5s;
}

.accordion-toggle-checkbox:checked ~ label .accordion-list-style {
  transform: rotate(90deg);
  transition: all 0.5s ease;
}